<html>
        <!-- Main goal of the admin window is to make everything editible through the console to make it easier for future classes to use.-->
        <head>
            <link rel = "stylesheet" type = "text/css" href = "{{url_for('static',filename = 'css/main.css')}}">
        </head>
        <title> Indy Assassains Admin Page</title>
        <body class = "page">
            <div class = "titlebar">
                <span id = "titleText"> Indy Assassains Console</span>
            </div>
            <div class = "main_body">
                <div class = "update_console">
                    <!-- Purpose:
                        - Send updates to home page
                        - Disable features throughout the game 
                    -->
                    <span id = "sectionTitle"> Update Console</span>
                    <form>
                        <a href = "#update" id = "create_update"><input type = "button" href = "#update" value = "Create Update"></input></a>
                    </form>
                </div>
                <div class = "player_console">      
                    <!--Purpose:
                        - Confirm new target assignments each week.
                        - Edit target assignments for ~drama~ and errors
                        - Send target assignments each week.
                        - Remove or add players to game.
                            * Revives
                            * Disqualifications
                    -->
                    <span id = "sectionTitle"> Player Console</span>
                    <form>
                        <a href = "#update" id = "create_update"><input type = "button" href = "#update" value = "Assign Targets"></input></a>
                    </form>
                </div>
            </div>
            <div id = "update">
                <span id = "sectionTitle">Updates</span>
                <form method = "POST" class = "update_window">
                    <input type = "text" id = "update_field" name = "update_text" placeholder = "Enter Update Here."></input>
                    <input type = "submit" id = "update_submit" name = "update_submit" placeholder = "Submit Update"></input>
                </form>
                <span> {{confirm|safe}}</span>
            </div>
            <div id = "assign">
                <span id = "sectionTitle">Assign Targets</span>
                <form method = "POST" id = "assign_button">
                    <input type = "submit" id = "assign_submit" name = "load_assignments" placeholder = "Assign Targets" value = "Load Assignments"></input>
                    <input type = "submit" id = "assign_submit" name = "assign_submit" placeholder = "Assign Targets" value = "Assign Targets"></input>
                    <br></br>
                    <input type = "text" id = "edit_targets" name = "edit_targets" placeholder = "Enter The Change Here.">Format: [Hunter ID]:[New Target ID]</input>
                    <input type = "submit" id = "edit_submit" name = "edit_submit" placeholder = "Submit Edit" value = "Submit Edits for Target Assignments"></input>
                </form>
                <span id = "pairs">{{ target_modifications| safe }}</span>
                <span id = "pairs">{{ match_ups| safe }}</span>
            </div>
            <div id = "new_accounts">
                <span id = "sectionTitle">Create New Account</span>
                <form method = "POST">
                    <span>Enter player's first and last name here:  </span>
                    <input type = "text" id = "name" name = "name" placeholder = "Enter first and last names here."></input>
                    <br></br>
                    <span>Enter user's password here:  </span>
                    <input type = "text" id = "password" name = "password" placeholder = "Enter desired password here."></input>
                    <br></br>
                    <span>Enter phone number here:  </span>
                    <input type = "text" id = "number" name = "phone_number" placeholder = "Enter phone number here."></input>
                    <br></br>
                    <span>Enter Team Name here:</span>
                    <input type = "text" id = "team" name = "team_name" placeholder = "Enter team name here."></input>
                    <br></br>
                    <input type = "submit" id = "manual_add_account" name = "add_account" placeholder = "Create New Account" value = "Create New Account"></input>
                </form>
                <span id = "pairs">{{ target_modifications| safe }}</span>
                <span id = "pairs">{{ match_ups| safe }}</span>
            </div>

        </body>
</html>