<html>
    <head>
        <link rel = "stylesheet" type = "text/css" href = "{{url_for('static',filename = 'css/main.css')}}">
    </head>
    <title> Independence co.2023 Assassains Game</title>
    <body class = "page">
        <div class = "titlebar">
            <span id = "social_media"><a href = "https://www.instagram.com/indyclassof2023/?next=%2F" target = "_blank">@indyclassof2023</a><br><a href = "https://www.instagram.com/indynation1/?next=%2F" target = "_blank">@indynation</a></span>
            <span id = "titleText"> Indy Assassains</span>
        </div>
        <div class = "main_body">
            <span id = "sectionTitle">404 Page Not Found. Check your URL</span>
        </div>
    </body>
</html>